<h1>Game Over!!!</h1>
<div><%= @game.player1.name %> Vs <%= @game.player2.name %></div>
<div><%= @game.player1.name %>: <%= @game.player1.hp %> HP</div>
<div><%= @game.player2.name %>: <%= @game.player2.hp %> HP</div>
<div><%= @game.inactive_player.name %> Wins !!!</div>
