<h1>Battle!</h1>
<div><%= @game.player1.name %> Vs <%= @game.player2.name %></div>
<div><%= @game.player1.name %>: <%= @game.player1.hp %> HP</div>
<div><%= @game.player2.name %>: <%= @game.player2.hp %> HP</div>

  <div>Current Player: <%= @game.turn.name %></div>

<div>
  <a href='/attack' id="Attack">Attack <%= @game.inactive_player.name %></a>
</div>
